[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/
ConditionPathExists={{ webhook_config_file }}

[Service]
ExecStart=/usr/local/bin/webhook -nopanic -hooks "{{ webhook_config_file }}" -logfile "{{ webhook_log }}" -port "{{ webhook_port }}"
User={{ webhook_user }}
Group={{ webhook_user }}

[Install]
WantedBy=multi-user.target